body{
    margin:0;
    padding:0;
    background:#000000;
}
.btn{
    background:linear-gradient(blueviolet,blue);
    width:150px;
    height:80px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius:5px;
    overflow: hidden;
}
.btn:before{
    content:'Hover Me';
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
}
.btn:hover:before{
    top:-30px;
}
.btn:after{
    font-family: ionicons;
    font-size:30px;
    content:'\f141';
    color:white;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    top:100px;
    transition: 0.5s;
}
.btn:hover:after{
    top:50%;
}

